.bg{
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url(WP.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 12px;
      background-position: center;
      background-attachment: fixed;
      display: block;
      overflow: auto;
}
.butnadd{
  height: 200px;
  width: 200px;
  font-size: x-large;
  font-weight: bold;
  border-radius: 50%;
}
.butnadd:hover{
  background: green;
  color: white;
}