.bg{
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
    ),url(WP.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 12px;
      background-position: center;
      background-attachment: fixed;
      display: block;
      overflow: auto;
}

.actdigtv{
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
    ),url(ActTv.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.asianettv{
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
    ),url(asianet.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.custid{
    background:#001a02;
    text-align: center;
    border-radius: 18px;
    color: white;
}
.disable{
    pointer-events: none;
}
.button{
    width: 100%;
    font-size: larger;
    font-weight: bold;
    color: white;
    background: #001a02;
}