.sbi{
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
    ),url(sbi.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 86vh;
}
.sc{
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
    ),url(sc.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 86vh;
}
.indian{
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
    ),url(indian.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 86vh;
}
.axis{
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
    ),url(axis.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 86vh;
}
.hdfc{
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
    ),url(hdfc.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 86vh;
}
.union{
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
    ),url(union.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 86vh;
}
.sbank{
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
    ),url(YesBank.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 86vh;
}
.icici{
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
    ),url(icici.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 86vh;
}
.b{
    font-weight: bold;
}