.bg{
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(WP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: block;
    overflow: auto;
}
.btnsm:hover{
  background:black;
}
.btnsm{
 background: #001a02; 
border-radius:12px ;
color: white;
width: 100%;
font-weight: bold;
font-size: 25px;
}
.dtd {
  padding: 20px;
  font-size:30px;
  font-weight: bold;
}
.active{
  color: white;
  background: #001a02;
  border-radius: 12px;
  width: 100%;
  cursor: not-allowed !important;
}
.notactive{
  color: white;
  background:rgb(39, 37, 37) ;
  border-radius: 12px;
  width: 100%;
}
.notactive:hover{
  background: black;
}
.icons{
  color: #001a02;
}