.logo{
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url(LOGO.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    background-position: center;
}
table tbody tr td {
    padding: 20px;
  }
  .bg{
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url(WP.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 12px;
      background-position: center;
      background-attachment: fixed;
      display: block;
      overflow: auto;
}
.error{
  border: red 1px solid;
}
